body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.5s ease;
}

.nav-logo {
    width: 80px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #e1e1e1;
}

nav h1 {
    color: #fff;
    font-weight: 700;
}

.menu {
    display: flex;
    gap: 50px;
    list-style-type: none;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #71D4FF;
}

/*Hero Section*/
#hero {
    position: relative;
    height: 90vh;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: radial-gradient(circle at center, #FF114F, #FF00A1, #FE76FF, #7904EB, #110458);
}

.hero-logo {
    width: 200px;
    height: auto;
}

#particles-js {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-content {
    position: relative;
    z-index: 10;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

p {
    font-size: 1.2em;
}

@keyframes gradientShift {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

#hero {
    /* ... other properties ... */
    background: radial-gradient(circle at center, #FF114F, #FF00A1, #FE76FF, #7904EB, #110458);
    background-size: 100% 200%;
    animation: gradientShift 10s infinite;
}

.download-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
}

.download {
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    background: black;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    transition: 0.3s;
    position: relative;
}

/* Hover Effect */
.download:hover {
    background-color: #71D4FF;
    transform: translateY(-5px);
}

/* Adding subtle gradients to differentiate the buttons */
.mobile {
    border: 1px solid white;

}

.tablet {
    border: 1px solid white;
}

.read-more {
    border: 1px solid white;
}

.see-all {
    border: 1px solid white;
}

/* What is Choreland Section Styling */
.choreland-section {
    background-color: black;  
    padding: 50px 0;
}

.wrapper {
    max-width: 700px;  
    margin: 0 auto;
    padding: 0 20px;  
    text-align: center; 
}

.choreland-header {
    margin-bottom: 40px; 
}

.choreland-section h1 {
    font-family: 'Poppins';
}

.choreland-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.image-container {
    display: flex;
    gap: 20x;
}

.choreland-image {
    max-width: 50%;
    height: auto;
}

/* Features Section Styling */
#features {
    background-color: black;
    padding: 50px 0;
}

#features h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5em;
}

/* AR Cleaning Adventure Section Styling */
.ar-adventure-section {
    background-color: black;
    padding: 50px 0;
}

.ar-adventure-section h2 {
    font-family: 'Poppins';
}

.ar-adventure-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-family: sans-serif;
}

.ar-adventure-image {
    max-width: 40%;  
    height: auto;
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.2);
    border-radius: 15px;
}

.content-container {
    flex: 1;
    background: black
}

.content-container h2 {
    color: white;
    margin-bottom: 20px;
}

/* Reward and Progress Tracking System Styling */
.reward-and-progress-tracking-system-section {
    background-color: black;
    padding: 50px 0;
}

.reward-and-progress-tracking-system-section h2 {
    font-family: 'Poppins';
}

.reward-and-progress-tracking-system-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-family: sans-serif;
}

.reward-and-progress-tracking-system-image {
    max-width: 40%;  
    height: auto;
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.2);
    border-radius: 15px;
}

.content-container {
    flex: 1;
    background: black
}

.content-container h2 {
    color: white;
    margin-bottom: 20px;
}

/* Themed Adventures Section Styling */
.themed-adventures-section {
    background-color: black;
    padding: 50px 0;
}

.themed-adventures-section h2 {
    font-family: 'Poppins';
}

.themed-adventures-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-family: sans-serif;
}

.themed-adventures-image {
    max-width: 40%;  
    height: auto;
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.2);
    border-radius: 15px;
}

.content-container {
    flex: 1;
    background: black
}

.content-container h2 {
    color: white;
    margin-bottom: 20px;
}

/* What games we offer Styling */

#games-offer h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5em;
}

#games-offer {
    background-color: black;
    padding: 50px 0;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.game-item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px; 
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.2); 
}

.game-item h3 {
    margin-top: 20px;
    font-size: 1.5em;
}

.game-item p {
    margin-top: 10px;
    font-size: 1em;
}

/* Join Us Section Styling */
#join-us {
    background-color: #0A0A0A;
    padding: 60px 0;
    text-align: center;
}

#join-us h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #FFF;
}

#join-us p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #BBB;
}

.join-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.join-form input[type="email"] {
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    width: 60%;
    max-width: 300px;
    outline: none;
    background-color: #1B1B1B;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.join-form input[type="email"]:focus {
    background-color: #292929;
    box-shadow: 0 0 10px rgba(114, 210, 255, 0.6);
}

.join-form button {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
    background: #71D4FF;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.join-form button:hover {
    background: #71D4FF;
    box-shadow: 0 0 15px rgba(114, 210, 255, 0.8);
}

footer {
    background-color: black;
    border-top: 1px solid #e1e1e1;
    padding: 1em 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-logo {
    width: 100px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #71D4FF;
}

p {
    color: #fff;
    margin-top: 10px;
}
